.python linguist-detectable=true
.HTML linguist-detectable=false
.CSS linguist-detectable=false
.JavaScript linguist-detectable=false
HTML linguist-detectable=false
CSS linguist-detectable=false
JavaScript linguist-detectable=false
