<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gerenciamento de Usuarios - Dmapla Sys</title>
        <link rel="icon" href="{{url_for('static', filename='logo/icon.png')}}" type="image/png">
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #0069d9 !important;">
            <div class="container">
                <a class="navbar-brand" href="/"><img class="logo-img" src="{{url_for('static', filename='img/lgwhite.png')}}" alt="logo dmapla"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <p class="nav-link active">Usuário logado: <span style="color: green;"> <b>{{session['username']}}</b></span></p>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/perfil">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" style="color: red;">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-light text-center py-2 mb-0"> <!--  -->
            <div class="container"> 
                <div style="width: 100%;display: flex;/* align-items: flex-end; */justify-content: flex-start;">
                    <a href="/" style="text-decoration: none;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                      </svg> Voltar</a>
                </div>
                <p class="lead"><b>Gerenciamento de Usuários.</b></p>
            </div>
            <div class="container"> <!-- container -->
                {% if username == 'admin' %}
                    <table class="table table-bordered table-striped-columns">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Usuário</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        {% for u in usuarios %}
                        <tbody>
                            <tr>
                                {% if u.username == 'admin' %}
                                    <td>{{u.id}}</td>
                                    <td><b style="color: red;">{{u.username}}</b></td>
                                    <td>
                                        <!-- <a href="#" style="color: black;">Editar</a> -->
                                        <!-- <a href="#" style="color: black;">Excluir</a> -->
                                        <p></p>
                                        <p></p>
                                    </td>
                                {% else %}
                                    <td>{{u.id}}</td>
                                    <td>{{u.username}}</td>
                                    <td>
                                        <a class="btn btn-primary" href="/edit/{{u.id}}" onclick="loadEnabled()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                            Editar
                                        </a>
                                        <a  class="btn btn-danger" onclick="show_confirm()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                            </svg>
                                            Excluir
                                            <a id="btn-save" href="/delete/{{u.id}}" style="display: none;"></a>
                                            
                                        </a>
                                        <!-- <a href="/edit/{{u.id}}">Editar</a> -->
                                        <!-- <a href="/delete/{{u.id}}">Excluir</a> -->
                                    </td>
                                {% endif %}
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
        <div id="fullscreen">
            <div style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: center;">
                <div class="container c-loader">
                    <style>
                        .c-loader {
                            animation: is-rotating 1s infinite;
                            border: 12px solid #e5e5e5;
                            border-radius: 50%;
                            border-top-color: #005dbb;
                            height: 100px;
                            width: 100px;
                        }
                        @keyframes is-rotating {
                            to {
                                transform: rotate(1turn);
                            }
                        }
                    </style>
                </div>
            </div>
            <script>
                function loadEnabled(){
                    document.getElementById('fullscreen').style.display = 'block';
                }
            </script>
        </div>
        <div id="confirm_edit">
            <div style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: center;">
                <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; background-color: white !important; width: 80% !important; height: 40% !important;">
                    <span style="font-size: 25px;"><b>Deseja realmente apagar o Usuário?</b></span>
                    <br>
                    <button type="submit" class="btn btn-danger" style="margin: 10px; width: 80%;" onclick="save()">Apagar</button>
                    <br>
                    <button type="submit" class="btn btn-primary" style="margin: 10px; width: 80%;" onclick="cancel()">Cancelar</button>
                    <script>
                        function show_confirm(){
                            document.getElementById('confirm_edit').style.display = 'block';
                        }
                        function cancel(){
                            document.getElementById('confirm_edit').style.display = 'none';
                        }
                        function save(){
                            document.getElementById('btn-save').click();
                            document.getElementById('confirm_edit').style.display = 'none';
                            document.getElementById('fullscreen').style.display = 'block';

                        }
                    </script>
                </div>
            </div>
        </div>
        <!-- Main -->
        <!-- Bootstrap CDN -->
        
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>